# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Scripts
.ps1